API_ID=37757884
API_HASH=b8aff444a27656a255bb2032a28f99c0
BOT_TOKEN=8640235818:AAGB4vbi_VURbFKTIB3dMaR_l7PfJX28pi8
MONGO_DB_URI=mongodb+srv://cyberpravin:cyberpravin@cluster0.tmywgrc.mongodb.net/?appName=Cluster0
LOG_GROUP_ID=-1003859786780
MUSIC_BOT_NAME=Pushpa
STRING_SESSION=1BVtsOL0Bu2q0f9jngs87U1mUZ3sYJlYj_GQYsEl4KaaINmVjqnSeDnC5QkYEQrnU3dSRcI2mXVYYQzf023T4YIKJLEirNVRkT1aFbCWJdKdD-EGWwJ4_34AAdKUxRDHXhDtkoUffVLCu27M-b64k1nouz3uzyi0h8rQ5sKNVOJKKncLpQHLYjecjRX8zrdaFDyO0LkRWfkP0oyYsupc4ZQSqOseM-Pi3sBd9ait6dN4q8No1PwYzbVAmNIdpgVZaWFeawikMN5Z1kKo4hlYWbFWD63jnfGGtOE4mtjc0hmaJ0xpMdPTlt5nH_LLUNIOLbTyqiXKoRhNuFp15oW9c_EDH7rS9AOQ1yDgjT39ezITuMLk80R-pOa-k=
